.App {
  text-align: center;
}

html, body {
  background-color: black;
}

.backgroundImg {
  width: 100%;
  height: 100vh;
  background-image: url(./components/images/background.png);
  background-position: center;
  background-size: cover;

  /*
  padding-left: 5%;
  padding-right: 5%;
  */
  box-sizing: border-box;
  position: absolute;
  
  animation-name: bgImgAnimation;
  animation-duration: 4s;


}

.myName {
  width: auto;
  height: auto;
  left: 10px;
  top: 10px;
  padding-top: 10px;
  padding-left: 10px;

  position: relative;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  text-align: center;
  height: 70vh;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

img {
  object-fit: contain;
  height: 45%;
  width: 100%;
}

.contentContainerBorder {
  position: absolute;
  overflow: auto;

  width: 69%;
  height: 0%;
  top: 11%;
  left: 25px;

  border: 10px solid transparent;
  border-image: linear-gradient(180deg, rgba(108,168,179,1) 0%, rgba(55,55,130,1) 33%, rgba(190,132,24,1) 61%, rgba(223,217,120,1) 78%, rgba(249,255,0,1) 100%);
  border-image-slice: 1;
  background: black;

  color: white;

  animation-name: slideOpen;
  animation-duration: 2s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.innerContent {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 3.3s;
  animation-fill-mode: backwards;
}

.innerContentContainer {
  margin: 10px;
  margin-bottom: 10vh;

  border-bottom: 10px solid white;

  padding: 10px;
  background: transparent;
}



/* BUTTON STYLE */

button{
  display:inline-block;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  margin:0em 5em 5em 5em;
  text-align:center;
  transition: all 0.2s;
  background-color: black;
  padding:0.8em 2.2em;
  border:0.1em solid #FFFFFF;
  border-radius:0.12em;
  box-sizing: border-box;
  font-weight:300;
  color:#FFFFFF;
  margin:0em 5em 5em 5em;
  text-align:center;
  transition: all 0.2s;
}
button:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  button{
    display:block;
    margin:0.4em auto;
  }
}
.leftBounce:hover {
  animation-name: bouncyLeft;
  animation-duration: 4s;
  position:relative;
}

.rightBounce:hover {
  animation-name:bouncyRight;
  animation-duration: 4s;
  position:relative;
}




@media screen and (orientation:portrait) {
  /* Portrait styles */
  /*set width to 100px */

}
@media screen and (orientation:landscape) {
  /* Landscape styles */
  /* set width to 200px*/

}



@keyframes bouncyLeft {
  0%{left:0em}
  0%{left:0em}
  3%{left:-0.9em}
  6%{left:0em}
  8%{left:-0.4em}
  10%{left:0em}
  100%{left:0em;}
}

@keyframes bouncyRight {
  0%{right:0em}
  0%{right:0em}
  3%{right:-0.9em}
  6%{right:0em}
  8%{right:-0.4em}
  10%{right:0em}
  100%{right:0em;}
}

@keyframes bgImgAnimation {
  0%{top: -100%;}
  100%{top: 0%;}
}

@keyframes slideOpen {
  0%{height: 0%;}
  100%{height: 80%;}
}

@keyframes fadeIn {
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: linear-gradient(180deg, rgba(108,168,179,1) 0%, rgba(55,55,130,1) 33%, rgba(190,132,24,1) 61%, rgba(223,217,120,1) 78%, rgba(249,255,0,1) 100%);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    
  }

  *::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(108,168,179,1) 0%, rgba(55,55,130,1) 33%, rgba(190,132,24,1) 61%, rgba(223,217,120,1) 78%, rgba(249,255,0,1) 100%);
  }

  ::-webkit-scrollbar-button {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
    border-radius: 20px;

  }